{% extends 'admin/layout.html' %}

{% block title %}Accounts{% endblock %}

{% block content %}
<h2>{{ page }} аккаунт</h2>

<div class="content-block">
    <form action="" method="post" class="form responsive-width-100">
        <label for="username">Имя пользователя</label>
        <input type="text" id="username" name="username" placeholder="Имя пользователя" value="{{ account['username'] }}" required>
        <label for="password">Пароль</label>
        <input type="text" id="password" name="password" placeholder="Пароль" value="{{ account['password'] }}" required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Email" value="{{ account['email'] }}" required>
        <label for="activation_code">Код активации</label>
        <input type="text" id="activation_code" name="activation_code" placeholder="Код активации" value="{{ account['activation_code'] }}">
        <label for="rememberme">Запомнить меня токен</label>
        <input type="text" id="rememberme" name="rememberme" placeholder="Запомнить меня токен" value="{{ account['rememberme'] }}">
        <label for="role">Роль</label>
        <select id="role" name="role" style="margin-bottom: 30px;">
            {% for role in roles %}
            <option value="{{ role }}"{{ ' selected' if account['role'] == role else '' }}>{{ role }}</option>
            {% endfor %}
        </select>
        <div class="submit-btns">
            <input type="submit" name="submit" value="Сохранить">
            {% if page == 'Редактировать' %}
            <input type="submit" name="delete" value="Удалить" class="delete">
            {% endif %}
        </div>
    </form>
</div>
{% endblock %}
