{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if not tasks %}
<h2>Домашняя страница</h2>
<p>Здравствуйте, {{ username }}!</p>
{% else %}
<h2>Домашная страница</h2>
    <div>
<p>Здравствуйте, {{ username }}!
    <br>
<a href="{{ url_for('create_task') }}">Создать задание</a></p>
    </div>
{% for task in tasks %}
<div>
    <table>
        <tr>
            <td>Группа:</td>
            <td>{{ task['groupname'] }}</td>
        </tr>
        <tr>
            <td>Название задания:</td>
            <td>{{ task['name'] }}</td>
        </tr>
        <tr>
            <td>Описание задания:</td>
            <td>{{ task['description'] }}</td>
        </tr>
        <tr>
            <td>Дедлайн:</td>
            <td>{{ task['time'] }}</td>
        </tr>
    </table>
    <a href="{{ url_for('edit_task', id=task['id']) }}">Редактировать задание</a>
</div>
{% endfor %}
{% endif %}
{% endblock %}
