{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Профиль</h2>
<div>
    <p>Данные вашего аккаунта:</p>
    <table>
        <tr>
            <td>Имя пользователя:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
        <tr>
            <td>Роль:</td>
            <td>{{ account['role'] }}</td>
        </tr>
    </table>
    <a href="{{ url_for('edit_profile') }}">Редактировать профиль</a>
</div>
{% endblock %}
