{% extends 'layout.html' %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    <h2>Редактировать профиль</h2>
    <div>
        <div>
            <form action="{{ url_for('edit_profile') }}" method="post">
                <label for="username">Имя пользователя</label>
                <input type="text" value="{{ account['username'] }}" name="username" id="username" placeholder="Имя пользователя">
                <label for="password">Новый пароль</label>
                <input type="password" value="" name="password" id="password" placeholder="Новый пароль">
                <label for="email">Email</label>
                <input type="email" value="{{ account['email'] }}" name="email" id="email" placeholder="Email">
                <br>
                <input type="submit" value="Сохранить">
            </form>
            <p>{{ msg }}</p>
        </div>
    </div>
{% endblock %}
